---
import Layout from '../layouts/Layout.astro';
---

<Layout title="ARTIJO">
	<main class="container m-auto soon">
		<h1>Hello</h1>
		<h4>coming soon.</h4>
	</main>
</Layout>

<style lang="scss">
	.soon {
		height: calc(100vh - 26px);
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		text-align: center;
	}
</style>
