<section class="mt-2">
    <h2>Education</h2>
    <p><span class="highlight">2022 - Present:</span> Bachelor of Science, Information Technology, College of Computing, Khon Kaen University</p>
    <p><span class="highlight">2019 - 2022:</span> High School, Nampongsuksa School</p>
</section>

<style>
    .highlight {
        @apply font-bold;
    }
</style>