<section class="mt-2">
    <h2>Education</h2>
    <p>2022 - Present: Bachelor of Science Information Technology, College of Computing, Khon Kaen University</p>
    <p>2019 - 2021: High School, Nampongsuksa School</p>
</section>