---
const {title} = Astro.props
---
<footer>
    <p>Contact: <a href="mailto:a@artijo.com">a[AT]artijo.com</a></p>
    <p>Updated: {new Date().toLocaleDateString('th-TH')}</p>
</footer>

<style lang="scss">
    footer{
        min-height: 26px;
        display: flex;
        justify-content: space-between;
    }
    a {
        @apply text-blue-500 dark:text-blue-300;
    }
</style>
