---
const nav = [
    { name: 'Projects(Github)', url: 'https://github.com/artijo' },
    { name: 'Photo', url: '/img/1672153346631.jpg' },
]
---
<header>
    <div class="lg:flex md:flex items-center justify-between">
        <div>
            <h3>Apichai Tinjong</h3>
            <h5 class="-mt-2">อภิชัย ทินจอง</h5>
        </div>
        <p>Web Developer</p>
    </div>
    
    <br />
        <h6>Bachelor of Science Program in Information Technology</h6>
    <br class="_br"/><br class="_br"/>
    <nav class="flex gap-4">
        {nav.map((item, index) => (
            <a href={item.url}>{item.name}</a>
        ))}
        <button>Print</button>
    </nav>
    <br class="_br"/>
</header>

<style lang="scss">
    a {
        @apply text-blue-500 dark:text-blue-300;
    }
</style>

<script>
    // print button
    document.querySelector('button').addEventListener('click', () => {
        //disable nav
        document.querySelector('nav').style.display = 'none';
        // disable class _be
        (document.querySelector('._br') as HTMLElement).style.display = 'none';
        //print page size A4
        document.body.style.width = '210mm';
        document.body.style.height = '297mm';
        window.print();
        //enable nav
        document.querySelector('nav').style.display = 'flex';
        // enable class _be
        (document.querySelector('._br') as HTMLElement).style.display = 'block';

    });
</script>