
<section class="mt-2">
    <h2>Short Info</h2>
    <p>
        Hello, My name is Art. I'm currently a student in the IT program. I enjoy web development and spend my free time working as a freelancer and outsourcing.
    </p>
</section>