<section class="mt-2">
    <h2>Road to Web Developer</h2>
    <p>I started learning how to create websites when I was in 7th grade. The first programming language I learned was PHP. My initial project was a school club registration website, which I created as a volunteer effort. This experience sparked my interest in web application development. From there, I expanded my skills to include content management systems like WordPress and began taking on freelance work developing content websites and maintaining them. Later, I worked as an outsourced developer for a company. However, I had to stop accepting web development jobs due to my heavy academic workload.</p>
</section>