<section class="mt-2">
  <h2>Skill</h2>
  <div class="grid grid-cols-2">
    <div>
      <h5>Languages:</h5>
      <ul>
        <li>HTML</li>
        <li>CSS</li>
        <li>JavaScript (Expert)</li>
        <li>PHP (Expert)</li>
        <li>Python</li>
        <li>Java</li>
        <li>SQL</li>
        <li>Go</li>
      </ul>
    </div>
    <div>
      <h5>Frameworks:</h5>
      <ul>
        <li>Express</li>
        <li>React, Nextjs</li>
        <li>Tailwind</li>
        <li>Astro</li>
      </ul>
    </div>
    <div>
        <h5>Database and Storage:</h5>
        <ul>
            <li>MySQL</li>
            <li>PostgreSQL</li>
            <li>MongoDB</li>
            <li>SQLite</li>
            <li>S3</li>
        </ul>
    </div>
    <div>
      <h5>Tools and Platforms::</h5>
      <ul>
        <li>Git, Github</li>
        <li>VSCode</li>
        <li>Postman</li>
        <li>Netlify</li>
        <li>Vercel</li>
        <li>Cloudflare</li>
        <li>Firebase</li>
        <li>Supabase</li>
        <li>Vite</li>
        <li>Sass</li>
        <li>Prisma</li>
      </ul>
    </div>
  </div>
</section>
